ol,ul {
	list-style: none;
}

#main-bar {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
#main-bar li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#main-bar a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

#main-bar a:hover {
	background-color:#009;
	color:#fff;
}
