body {
  margin: 0;
  padding: 0;
  background: #444444;
  color: #000;
  font: 12px "Arial Unicode MS";
  color: #fff;
  text-align: center;
}

p {
  font: 24px "Arial Unicode MS";
  color: #fff;
  text-align: center;
}
